<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <!-- http://stackoverflow.com/questions/4140448/difference-between-and-in-servlet-mapping-url-pattern -->

  <servlet>
    <servlet-name>demoServlet</servlet-name>
    <servlet-class>org.zk.controller.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoServlet</servlet-name>
    <url-pattern>/demo.s</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>heroServlet</servlet-name>
    <servlet-class>org.zk.controller.HeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>heroServlet</servlet-name>
    <url-pattern>/hero</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


</web-app>
